#!/usr/bin/make -f
#
# This debian/rules uses debhelper.
#

%:
	dh $@ --with=systemd --with=yang

override_dh_systemd_enable:
	dh_systemd_enable -p vyatta-service-snmp --name=vyatta-buffer-congestion-notifier vyatta-buffer-congestion-notifier.service
	dh_systemd_enable -p vyatta-service-snmp --name=vyatta-storm-ctl-notifier vyatta-storm-ctl-notifier.service
	dh_systemd_enable -p vyatta-service-snmp --name=vyatta-snmp-subagent vyatta-snmp-subagent.service
	dh_systemd_enable -p vyatta-service-snmp --name=vyatta-entity-mibs-subagent vyatta-entity-mibs-subagent.service
	dh_systemd_enable -p vyatta-service-snmp --name=vyatta-ptp-mib-subagent vyatta-ptp-mib-subagent.service
	dh_systemd_enable -p vyatta-service-snmp --name=vyatta-reboot-reason-notifier vyatta-reboot-reason-notifier.service
	dh_systemd_enable --name=snmptrapd --no-enable
	dh_systemd_enable -p vyatta-entity-sensor-subagent --name=snmp-entsensor-trap snmp-entsensor-trap.service

override_dh_systemd_start:
	dh_systemd_start --no-start
