[Unit]
Description=Vyatta SNMP Trap for Reboot Reason
Wants=system-configure.service
After=system-configure.service

[Service]
ExecStart=/opt/vyatta/sbin/vyatta_reboot_reason_trap
Restart=on-failure
RestartSec=5s
StandardOutput=journal

[Install]
WantedBy=multi-user.target
